<div class="content" role="main">
        <div class="w-100">
                <h2 class="mat-h2">Contagi per provincia</h2>
                <p class="text-justify">
                        In questo grafico viene scorporato il dato del grafico 1 andando a suddividere il numero dei contagiati nelle varie province di gestione della Usl Toscana nord ovest in cui si sono verificati.
                </p>
        </div>
        
        <div class="contagiProvincieLegend">
                <ngx-charts-legend class="chart-legend" *ngIf="loaded"
                        [data]="chartNames" 
                        [title]="chartTitle" 
                        [colors]="colors" 
                        (labelActivate)="legendLabelActivate($event)" 
                        (labelDeactivate)="legendLabelDeactivate($event)">
                </ngx-charts-legend>
        </div>
                
        <div class="area-wrapper">
                <ngx-charts-line-chart id="contagi_provincie" *ngIf="loaded"
                        [activeEntries]="activeEntries"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [animations]="animations"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                </ngx-charts-line-chart>
</div>        
</div>