<div class="content" role="main">
    <h2 class="mat-h2 docs-primary-header">Contagi Toscana nord ovest</h2>

    <div class="area-wrapper">
              <ngx-charts-line-chart id="datacontagiatitoscanano" 
                [scheme]="colorScheme"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="multi"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
              </ngx-charts-line-chart>
    </div>

</div>