<div class="content" role="main">
    <div class="w-100">
        <h2 class="mat-h2 docs-primary-header">Numero di contagiati in Toscana nord ovest</h2>
        <p class="text-justify">In questo grafico vengono conteggiati tutti i casi di contagio da Covid-19 
            riscontrati sul territorio gestito dalla Usl Toscana nord ovest che riunisce le provincie di Massa Carrara, Lucca, Pisa e Livorno. 
        </p>
        <p  class="text-justify">
            La linea gialla mostra il numero giornaliero di nuovi contagi riscontrati (sia ospedalizzati che in quarantena presso la propria abitazione).
        </p>
        <p  class="text-justify">
            La linea blu mostra invece l'evoluzione nel tempo del numero complessivo dei contagiati che nel territorio interessato ha superato il muro dei 2000 casi. 
        </p>
        <p  class="text-justify">
            La linea rossa tiene conto dei casi "attualmente positivi", sono dunque esclusi dal conteggio sia i clinicamente guariti che i deceduti. 
        </p>
    </div>

    <div class="contagiatiToscanaLegend">
        <ngx-charts-legend class="chart-legend" *ngIf="loaded"
            [data]="chartNames" 
            [colors]="colors"
            (labelActivate)="legendLabelActivate($event)" 
            (labelDeactivate)="legendLabelDeactivate($event)" >
        </ngx-charts-legend>
    </div>

    <div class="area-wrapper">
        <ngx-charts-line-chart id="datacontagiatitoscanano" *ngIf="loaded"
            [activeEntries]="activeEntries"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
    </div>

</div>
