<div class="content" role="main">
    <h2 class="mat-h2"> Contagi diviso per zone</h2>

        <p class="text-justify"></p>
                
        <div class="area-wrapper">
                <ngx-charts-number-card id="cartedatacontagiatizone" *ngIf="loaded"
                        [scheme]="colorScheme"
                        [results]="multi"
                        [cardColor]="cardColor"
                        (select)="onSelect($event)">
                </ngx-charts-number-card>
</div>        
</div>