<div class="content" role="main">
    <h2 class="mat-h2 docs-primary-header">Incremento percentuale Toscana Nord-Ovest</h2>

    <p>Per ogni giorno, su tutta l'area Toscana Nord-Ovest, viene mostrato l'incremento giornaliero in percentuale
    rispetto al totale contagi del giorno precedente. Importante: la percentuale e' tagliata in alto a 100 per facilitare
    la lettura del grafico, per cui i valori 100 dovrebbero essere letti "100 o piu'".</p>

    <div class="area-wrapper">
              <ngx-charts-bar-vertical id="incrementopercentuale" *ngIf="loaded"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
    </div>

</div>