<div class="content" role="main">
  <div class="w-100">
    <h2 class="mat-h2 docs-primary-header">Incremento percentuale dei contagi</h2>
    <p class="text-justify">
      Questo grafico mostra l'incremento giornaliero in percentuale rispetto al totale contagi del giorno precedente regitrato sull'area Toscana nord ovest. In pratica, viene mostrata l'incidenza dell'incremento giornaliero dei contagi rispetto al totale dei casi già individuati.
    </p>
    <p  class="text-justify">
      Importante: per facilitare la lettura del grafico è stato attribuito arbitrariamente 100 come valore massimo ma in alcuni giorni questo dato è stato anche superiore, per cui i valori 100 dovrebbero essere interpretati come "100 o più".
    </p>
  </div>

    <div class="area-wrapper">
              <ngx-charts-bar-vertical id="incrementopercentuale" *ngIf="loaded"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
    </div>

</div>