<div class="content" role="main">
    <h3 id="datacontagiati"> Grafico data/contagiati </h3>

    <p>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle (click)="onClickFun('Lucca')" value="bold">Lucca</mat-button-toggle>
      <mat-button-toggle (click)="onClickFun('Massa')" value="italic">Massa</mat-button-toggle>
      <mat-button-toggle (click)="onClickFun('Carrara')" value="underline">Carrara</mat-button-toggle>
    </mat-button-toggle-group>
    </p>

    <div class="areachart-wrapper dark">

              <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="multi"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
              </ngx-charts-line-chart>

      </div>

</div>