
<section class="mat-typography">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
      <button mat-icon-button (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Bollettino Toscana nord ovest</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true" fixedTopGap="56">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="events">
        <app-datacontagiatitoscanano></app-datacontagiatitoscanano>
        <app-datacontagiatizone></app-datacontagiatizone>
        <app-incrementopercentuale></app-incrementopercentuale>
      </div>
      <button mat-icon-button id="to-top-button" (click)="scrollToTop()" ><mat-icon>keyboard_arrow_up</mat-icon></button>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- Footer -->
<footer class="page-footer font-small teal" >

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left" md-colors="::{background: 'primary'}">

        <!-- Grid row-->
      <div class="w-100 d-flex text-center justify-content-center">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-3">
          <p style="line-height: 1.7rem">Le informazioni contenute nei grafici si basano sui bollettini pubblicati giornalmente dalla Usl Toscana nord ovest e 
            sono frutto di una elaborazione di terzi a solo scopo divulgativo. 
            Le informazioni su questo sito hanno dunque carattere non ufficiale e non hanno pretesa di completezza. 
            Per i dati ufficiali si rimanda al bollettino emesso giornalmente dalla Usl Toscana nord ovest.</p>
        </div>
        <!-- Grid column -->

      </div>

    </div>
    <!-- Footer Text -->

    <!--<hr>-->

    <!-- Copyright -->
    <!--<div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>-->
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</section>