::ng-deep {
    .legend-label{
        display: inline;
        line-height: normal !important;
    }

    .legend-label-text{
        width: auto !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 70px;
    }

    .legend-labels{
        width: auto !important;
    }

    .ngx-charts { 
        text{
            fill: #fff!important; 
        }
    }
}