::ng-deep {
    .legend-label{
        display: inline;
    }

    .chart-legend .legend-label-text{
        width: auto !important;
    }

    .ngx-charts { 
        text{
            fill: #fff!important; 
        }
    }
}