<div class="content" role="main">
    <h2 class="mat-h2"> Contagi diviso per zone</h2>

        
                <ngx-charts-legend class="chart-legend" *ngIf="loaded"
                        [data]="chartNames" 
                        [title]="'Zone'" 
                        [colors]="colors" 
                        (labelActivate)="legendLabelActivate($event)" 
                        (labelDeactivate)="legendLabelDeactivate($event)">
                </ngx-charts-legend>
                <div class="area-wrapper">
                        <ngx-charts-line-chart id="datacontagiatizone" *ngIf="loaded"
                                [activeEntries]="activeEntries"
                                [scheme]="colorScheme"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxis]="xAxis"
                                [yAxis]="yAxis"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [timeline]="timeline"
                                [results]="multi"
                                (select)="onSelect($event)"
                                (activate)="onActivate($event)"
                                (deactivate)="onDeactivate($event)">
                        </ngx-charts-line-chart>
                </div>
        
</div>