<div class="content" role="main">
    <h2 class="mat-h2 docs-primary-header">Deceduti guariti Toscana Nord-Ovest</h2>

  <div>
    <p class="text-justify"></p>
  </div>

  <mat-slide-toggle (change)="onToggleChange($event)">Totale contagiati</mat-slide-toggle> 

    <div class="area-wrapper">
              <ngx-charts-area-chart-stacked id="decedutiguariti" *ngIf="loaded"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [animations]="animations"
                (select)="onSelect($event)">
              </ngx-charts-area-chart-stacked>
    </div>

</div>