<div class="content" role="main">
    <div class="w-100">
        <h2 class="mat-h2 docs-primary-header">Deceduti e guariti</h2>
        <p class="text-justify">
            Questo grafico mostra l'evoluzione nel tempo del numero dei decessi e dei guariti a partire dal momento in cui la Usl Toscana nord ovest ha iniziato a comunicarli (rispettivamente 7 e 31 marzo).
        </p>
        <p class="text-justify">
            Cliccando sul toggle è possibile visualizzare il rapporto tra deceduti, guariti e "attualmente positivi", coloro cioè che ancora sono sottoposti a misure di quarantena o sono ricoverati in ospedale.
        </p>
        <p class="text-justify">
            Come si può vedere, il numero delle guarigioni supera significativamente quello dei decessi. Un dato molto migliore rispetto a quello nazionale che risente delle regioni in cui si registrano numeri più critici da questo punto di vista come Lombardia e Piemonte. A livello italiano infatti il rapporto tra guariti e deceduti è di circa 2,4 (fonte: Ministero della salute) mentre nel territorio della Toscana nord ovest è di 6,4.
        </p>
    </div>

  <div class="decedutiGuaritiLegend">
        <ngx-charts-legend class="chart-legend" *ngIf="loaded"
            [data]="chartNames" 
            [colors]="colors"
            (labelActivate)="legendLabelActivate($event)" 
            (labelDeactivate)="legendLabelDeactivate($event)" >
        </ngx-charts-legend>
    </div>

  <mat-slide-toggle (change)="onToggleChange($event)">Totale contagiati</mat-slide-toggle> 

    <div class="area-wrapper">
        <ngx-charts-area-chart-stacked id="decedutiguariti" *ngIf="loaded"
            [activeEntries]="activeEntries"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [animations]="animations"
            (select)="onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

</div>